<div class="container-fluid bg-black h-100">
  <h2 class="text-center ff-chunkfive text-white pt-2">
    <div class="border-bottom col-3 mx-auto border-yellow border_4 pb-1">
      TIENDA
    </div>
  </h2>
  <div class="mlr-25 bg-texture-white text-black ff-kanit pt-5">
    <form #checkoutForm="ngForm" (ngSubmit)="onSubmit(checkoutForm)" class="w-100 container-fluid m-0"> 
      <div class="row">
        <div class="col-md-4 plr-5 oy-scroll ox-hidden h-50">
          <div class="row h-25" *ngFor="let compra of compras">
            <div class="col-sm-6">
              <img src="http://pruebasbrageanth.pythonanywhere.com{{compra.imagen}}" alt="" class="w-100">
            </div>
            <div class="col-sm-6">
              <div class="row">
                {{compra.estampado}}
              </div>
              <div class="row">
                {{compra.tallaNombre}}
              </div>
              <div class="row">
                $ {{compra.precio}}
              </div>
              <div class="row">
                cantidad
              </div>
              <div class="row">
                <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
                  <div class="form-group row">
                    <div class="col">
                      <input
                        type="number"
                        class="form-control bg-transparent border border-dark ff-kanit"
                        name="cantidad"
                        #cantidad="ngModel"
                        [(ngModel)]="compraService.selectedcompra.cantidad"
                        placeholder="1"
                        min="1"
                        max="{{compra.cantidadDisponible}}"
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 container-fluid p-0">
          <div class="row">
            <div class="col-md-6 pl-0 pr-5">
              <div class="form-group">
                <label>NOMBRE</label>
                <input
                  type="text"
                  class="form-control rounded-4 bg-transparent border border-dark ff-kanit"
                  name="nombre"
                  #nombre="ngModel"
                  [(ngModel)]="compraService.selectedcompra.nombre"
                >
              </div>
              <div class="form-group">
                <label>DIRECCION</label>
                <input
                  type="text"
                  class="form-control rounded-4 bg-transparent border border-dark ff-kanit"
                  name="direccion"
                  #direccion="ngModel"
                  [(ngModel)]="compraService.selectedcompra.direccion"
                  placeholder="{{usuario.direccion}}"
                  value="{{usuario.direccion}}"
                  *ngIf="usuario"
                >
                <small id="codigoPostalHelp" class="form-text text-transparent">CONSULTA TU CODIGO POSTAL</small>
              </div> 
              <div class="form-group">
                <label>CELULAR</label>
                <input
                  type="number"
                  class="form-control rounded-4 bg-transparent border border-dark ff-kanit"
                  name="celular"
                  #celular="ngModel"
                  [(ngModel)]="compraService.selectedcompra.celular"
                  placeholder="{{usuario.celular}}"
                  value="{{usuario.celular}}"
                  *ngIf="usuario"
                >
              </div>
            </div>
            <div class="col-md-6 pl-0 pr-5">
              <div class="form-group">
                <label>APELLIDO</label>
                <input
                  type="text"
                  class="form-control rounded-4 bg-transparent border border-dark ff-kanit"
                  name="apellido"
                  #apellido="ngModel"
                  [(ngModel)]="compraService.selectedcompra.apellido"
                >
              </div>
              <div class="form-group">
                <label>CODIGO POSTAL</label>
                <input
                  type="text"
                  class="form-control rounded-4 bg-transparent border border-dark ff-kanit"
                  name="codigoPostal"
                  #codigoPostal="ngModel"
                  [(ngModel)]="compraService.selectedcompra.codigoPostal"
                >
                <small id="codigoPostalHelp" class="form-text text-muted">CONSULTA TU CODIGO POSTAL <a href="http://visor.codigopostal.gov.co/472/visor/" target="_blank">aqui</a></small>
              </div> 
              <div class="form-group">
                <label>CEDULA</label>
                <input
                  type="number"
                  class="form-control rounded-4 bg-transparent border border-dark ff-kanit"
                  name="cedula"
                  #cedula="ngModel"
                  [(ngModel)]="compraService.selectedcompra.cedula"
                >
              </div>
            </div>
          </div>
          <div class="row bg-black text-white pt-2 rounded-left-1">
            <h4 class="col-md-12">
              METODO DE PAGO
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <img src="../../../../assets/img/pig.png" alt="cerdito" class="m-3">
          <i class="far fa-credit-card fs-3 m-3 font-weight-light"></i>
          <img src="../../../../assets/img/money.png" alt="cerdito" class="m-3">
        </div>
      </div>
    </form>
  </div>
</div>