<div class="container-fluid bg-black">
  <div *ngIf="cargo">
    <h2 class="text-center ff-chunkfive text-white pt-2">
      <div class="border-bottom col-3 mx-auto border-yellow border_4 pb-1">
        CINE Y SERIES
      </div>
    </h2>
    <div class='mlr-25 bg-texture-white text-black pt-5 h-80'>
      <div class="container-fluid pb-5" *ngFor="let estampado of estampadosCine">
        <div class="row text-center ff-chunkfive text-black">
          <video class="w-100 p-3" controls>
            <source src="http://pruebasbrageanth.pythonanywhere.com{{estampado.video}}" type="video/mp4">
          </video>
        </div> 
    
  </div>
  <div class="row h-20">
      <div class="col-md-2 ff-chunkfive">
        GALERIA
      </div>
    </div>
    <div class="row h-20 oy-hidden">
      <div class="col-md-2 ox-hidden" *ngFor="let imagen of imagenesGaleria[i]">
        <img src="https://pruebasbrageanth.pythonanywhere.com/{{imagen}}" alt="{{estampado.nombre}}" class="w-100" (click)="imagenActive(estampado, imagen, i)">
      </div>
    </div>
  </div>
  </div>
</div>
