<div class="container-fluid bg-black">
  <div *ngIf="!cargo" class="text-center h-100v pt-25">
    <div class="cabeza mx-auto">
      <div class="oreja rounded-circle">
          <div class="oreja-interno rounded-circle"></div>
      </div>
      <div class="ojo rounded-circle"></div>
      <div class="osico-top rounded">
          <div class="nariz rounded-circle"></div>
      </div>
      <div class="osico-bottom"></div>
      <div class="filtro-exterior">
          <div class="filtro"></div>
      </div>
    </div>
  </div>
  <h2 class="text-center ff-chunkfive text-white pt-2">
    <div class="border-bottom col-3 mx-auto border-yellow border_4 pb-1">
      MUSICA
    </div>
  </h2>
  <div class="mlr-25 bg-texture-white text-black ff-kanit pt-5">
    <div class="row container-fluid" *ngFor="let estampado of estampadosMusica">
      <div class="row h-30 oy-hidden">
        <div class="col-md-6 mx-auto">
          <img src="https://pruebasbrageanth.pythonanywhere.com{{imagen}}" alt="{{estampado.nombre}}">
        </div>
      </div>
      <div class="row text-center">
        <audio controls>
          <source src="https://pruebasbrageanth.pythonanywhere.com{{estampado.cancion}}" type="audio/mpeg">
        </audio>
      </div>
      <div class="row">
        <div class="col-md-5">{{estampado.nombre}}</div>
        <div class="col-md-1">
          <a href=""></a>
        </div>
      </div>
    </div>
  </div>
</div>