<div class="container-fluid bg-black">
  <div *ngIf="!cargo" class="text-center h-100v pt-25">
    <div class="cabeza mx-auto">
      <div class="oreja rounded-circle">
          <div class="oreja-interno rounded-circle"></div>
      </div>
      <div class="ojo rounded-circle"></div>
      <div class="osico-top rounded">
          <div class="nariz rounded-circle"></div>
      </div>
      <div class="osico-bottom"></div>
      <div class="filtro-exterior">
          <div class="filtro"></div>
      </div>
    </div>
  </div>
  <div *ngIf="cargo">
    <h2 class="text-center ff-chunkfive text-white pt-2">
      <div class="border-bottom col-3 mx-auto border-yellow border_4 pb-1">
        MUSICA
      </div>
    </h2>
    <div class="mlr-25 bg-texture-white text-black ff-kanit pt-5">
      <div class="container-fluid" *ngFor="let estampado of estampadosMusica">
        <div class="row h-60 oy-hidden">
          <div class="col-md-6 mx-auto ox-hidden">
            <img src="https://pruebasbrageanth.pythonanywhere.com{{imagen}}" alt="{{estampado.nombre}}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mx-auto mt-3 text-center fs-1_5">
            <a (click)="playAudio(estampado)" *ngIf="!audioPlay"><i class="far fa-play-circle"></i></a>
            <a (click)="pauseAudio()" *ngIf="audioPlay"><i class="far fa-pause-circle"></i></a>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-5 text-uppercase ml-auto fs-1_5">{{estampado.nombre}}</div>
          <div class="col-md-1 mr-auto dropright">
            <div class="dropdown-toggle text-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-share-alt"></i>
            </div>
            <div class="dropdown-menu bg-yellow ff-espacio">
              <a class="dropdown-item" (click)="copyToClipboard()" ngxClipboard [cbContent]="url">Copiar Enlace</a>
              <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=http%3A%2F%2Fsnuff-front.herokuapp.com%2Fmusica&display=popup&ref=plugin&src=share_button">Facebook</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>