<nav class="navbar navbar-light bg-light navbar-expand-lg ff-kanit collapse fixed-top transition-cubic" id="navbarNav" *ngIf="cargo">
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="bg-white">
            <a class="navbar-brand ml-5 mr-5" href="#">
                <img src="../../../assets/img/oso.png" width="25" height="25" alt="Logo">
            </a>
            <button type="button" class="bg-transparent border-transparent hover-pointer" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="navActive()">
                <i class="fas fa-times text-dark hover-amarillo"></i>
            </button>
        </div> 
        <ul class="navbar-nav ml-auto row w-50 text-center">
            <li class="nav-item col-4">
                <a class="nav-link" href="#">CINE Y SERIES</a>
            </li>
            <li class="nav-item col-4">
                <a class="nav-link" href="#">MÚSICA</a>
            </li>
            <li class="nav-item col-4">
                <a class="nav-link" href="#">PINTURA Y ARTE</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="token">
                <a class="nav-link" [routerLink]="['/coche']">
                    <img src="../../../assets/img/carrito.png" width="25" height="25" alt="Carrito">
                </a>
            </li>
            <li class="nav-item dropdown bg-transparent text-white fs-1">
                <a class="nav-link dropdown-toggle" [routerLink]="token?['/#']:['/login']" id="perfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../assets/img/user.png" width="25" height="25" alt="User">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/perfil']">VER PERFIL</a>
                    <a class="dropdown-item" (click)="logOut()">CERRAR SESION</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-light bg-transparent navbar-expand-lg ff-kanit ml-0 p-0 fixed-top" *ngIf="cargo">
    <div class="bg-white" *ngIf="!homeNav && !activeNav">
        <a class="navbar-brand ml-5 mr-5" href="#">
            <img src="../../../assets/img/oso.png" width="25" height="25" alt="Logo">
        </a>
        <button type="button" class="bg-transparent border-transparent hover-pointer" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="navActive()">
            <i class="fas fa-th text-dark hover-amarillo"></i>
        </button>
    </div>
    <div *ngIf="homeNav">
        <div class="row pl-2" *ngFor="let empresa of empresaList">
            <a href="{{empresa.facebook}}" class="col-4 text-center text-white" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="{{empresa.instagram}}" class="col-4 text-center text-white" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="{{empresa.twitter}}" class="col-4 text-center text-white" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="row bg-white ff-espacio fs-1_5 text-center">
            <div class="col-12">
                <a [routerLink]="token?['/compra']:['/login']" class="text-dark">
                    TIENDA
                </a>
            </div>
        </div>
    </div>
    <ul class="navbar-nav ml-auto" *ngIf="!activeNav">
        <li class="nav-item" *ngIf="token">
            <a class="nav-link" [routerLink]="['/coche']">
                <img src="../../../assets/img/carrito-white.png" width="25" height="25" alt="Carrito">
                <span class="bg-white rounded-circle p_8 fs_6 ff-lazer ptb_5 plr-1" *ngIf="numeroCarrito!=0">{{numeroCarrito}}</span>
            </a>
        </li>
        <li class="nav-item dropdown bg-transparent text-white fs-1">
            <a class="nav-link dropdown-toggle" [routerLink]="token?['/#']:['/login']" id="perfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../../assets/img/user.png" width="25" height="25" alt="User">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/perfil']">VER PERFIL</a>
                <a class="dropdown-item" (click)="logOut()">CERRAR SESION</a>
            </div>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>