<div class="card mt-6 mx-auto rounded-circle pt-5 pl-5 pr-5 pb-3" style="width: 30%"> 
  <div class="card-body">
    <h3 class="card-title text-center text-white pb-2">¡Inicia Sesion!</h3>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" > 
      
      <div class="form-group row">
        <div class="col">
          <input
            type="email"
            class="form-control"
            name="correo"
            #correo="ngModel"
            [(ngModel)]="loginService.selectedusuario.correo"
            placeholder="Correo"
          >
        </div>

        <div style="font-size: 1.6em" class='text-danger col-1' *ngIf='!correo.value.includes("@") || !correo.value.includes(".") || correo.value.includes(" ") ' >
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div> 

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="contrasenia"
          #contrasenia="ngModel"
          [(ngModel)]="loginService.selectedusuario.contrasenia"
          placeholder="Contraseña"
        >
      </div>

      <div class="form-group text-center pt-2">
        <button class="btn btn-outline-warning" type="submit">
         Registrarse
        </button>
      </div>
    </form>
    <p class="text-center">
      <a href="/registro" class="text-warning">¿No te has registrado?</a>
    </p>
    <p class="text-center">
      <a class="text-warning" data-toggle="modal" data-target="#resetModal">¿Olvidaste tu contraseña?</a>
    </p>
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header border-0 text-warning">
            <h5 class="modal-title" id="exampleModalLabel">Reestablece tu contraseña</h5>
            <button type="button" class="close text-center" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div  id="resetFormSlide" class="carousel slide" data-ride="carousel" data-interval=false>
              <form #resetForm="ngForm" (ngSubmit)="onSubmitReset(resetForm)" class="carousel-item active">
                <div class="form-group row">
                  <div class="col">
                    <input
                      type="email"
                      class="form-control"
                      name="resetCorreo"
                      #resetCorreo="ngModel"
                      [(ngModel)]="loginService.selectedusuario.correo"
                      placeholder="Correo"
                    >
                  </div>
          
                  <div style="font-size: 1.6em" class='text-danger col-1' *ngIf='!correo.value.includes("@") || !correo.value.includes(".") || correo.value.includes(" ") ' >
                    <i class="fas fa-exclamation-circle"></i>
                  </div>
                </div>
                <div class="form-group text-center pt-2">
                  <li data-target="#resetFormSlide" data-slide-to="1">
                    <button class="btn btn-outline-warning" type="submit" [disabled]="correo.value==Null || correo.value==''">
                      Siguiente
                    </button>
                  </li>
                </div>
              </form>
              <div class="form-group row carousel-item">
                <div class="col">
                  <input
                    type="number"
                    class="form-control"
                    name="codigoInput"
                    [(ngModel)]="loginService.selectedusuario.correo"
                    #codigoInput="ngModel"
                    placeholder="Codigo"
                  >
                </div>        
                <div style="font-size: 1.6em" class='text-danger col-1' *ngIf='!codigoInput.value!==this.codigo' >
                  <i class="fas fa-exclamation-circle"></i>
                </div>
                <div class="form-group text-center pt-2">
                  <button class="btn btn-outline-warning" data-target="#resetFormSlide" data-slide-to="2"  [disabled]="true">
                    Siguiente
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>