/* Imports */
@import url('https://fonts.googleapis.com/css?family=Kanit:700,800');

/* Font Face */
@font-face{
    font-family: Chunkfive;
    src: url(./assets/font/Chunkfive.ttf);
}
@font-face{
    font-family: Espacio;
    src: url(./assets/font/Espacio.ttf);
}
@font-face{
    font-family: Lazer84;
    src: url(./assets/font/Lazer84.ttf);
}

/* Height */
.h-10{
    height: 9vh;
}
.h-91{
    height: 91vh;
}

/* Max-Min Height */
.mh-91{
    max-height: 91vh;
    min-height: 91vh;
}

/* Paddings */
.p-0{
    padding: 0;
}
.pl-0{
    padding-left: 0;
}
.pt-6{
    padding-top: 6vh;
}
.pt-20{
    padding: 20vh;
}
.pt-25{
    padding: 25vh;
}

/* Margins */
.mt-6{
    margin-top: 6vh;
}
.mt-10{
    margin-top: 10vh;
}
.ml-0{
    margin-left: 0;
}

/* Font size */
.fs_8{
    font-size: 0.8vw;
}
.fs-1{
    font-size: 1vw;
}
.fs-1_5{
    font-size: 1.5vw;
}
.fs-2{
    font-size: 2vw;
}
.fs-3{
    font-size: 3vw;
}
.fs-4{
    font-size: 4vw;
}
.fs-6{
    font-size: 6vw;
}

/* Font family */
.ff-kanit{
    font-family: 'Kanit', sans-serif;
}
.ff-chunkfive{
    font-family: 'Chunkfive', sans-serif;
}
.ff-espacio{
    font-family: 'Espacio', sans-serif;
}
.ff-lazer{
    font-family: 'Lazer84', sans-serif;
}

/* Font color */
.text-input{
    color: #949494;
}

/* Roundeds */
.rounded-4{
    border-radius: 4vh;
}

/* Background */
.bg-input{
    background: #c4c4c4;
}
.bg-transparent{
    background: transparent;
}
.bg-texture-black{
    background: url(./assets/img/textura.png), rgba(0, 0, 0, 0.89);
    background-size: 100%, 0;
}    

/* Border colors */
.border-transparent{
    border-color: transparent;
}
.border-yellow{
    border-color: #c19c38!important;    
}

/* Boder width */
.border_4{
    border-width: .4vh!important;
}

/* Overflow */
.oy-hidden{
    overflow-y: hidden;
}

/* Customs */
.row-form-compra{
    max-height: 60vh;
    overflow-y: hidden;
}
.row-div-compra{
    max-height: 65vh;
    overflow-y: hidden;
}
html, body{
    height: 100vh;
    margin: 0;
}