/* Imports */
@import url('https://fonts.googleapis.com/css?family=Kanit:700,800');

/* Font Face */
@font-face{
    font-family: Chunkfive;
    src: url(./assets/font/Chunkfive.ttf);
}
@font-face{
    font-family: Espacio;
    src: url(./assets/font/Espacio.ttf);
}
@font-face{
    font-family: Lazer84;
    src: url(./assets/font/Lazer84.ttf);
}

/* Keyframes */
@keyframes osoLoad {
    from {width: 20%;}
    to {width: 25%;}
}
@keyframes barLoad {
    from {width: 0%;}
    to {width: 99%;}
}
@keyframes zoomIn {
    from {transform: scale(1);}
    to {transform: scale(1.4);}
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-.75vw); opacity: 0;}
}
@keyframes cabeza {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(180deg);
    }
    50% {
        transform: rotateZ(180deg);
    } 
    70% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg)
    }
}
@keyframes ojo {
    0% {
        transform: rotateX(0deg);
        top: 5vh;
    }
    20% {
        transform: rotateX(180deg);
        top: 13vh;
    }
    50% {
        transform: rotateX(180deg);
        top: 13vh;
    } 
    70% {
        transform: rotateX(0deg);
        top: 5vh;
    }
    100% {
        transform: rotateX(0deg);
        top: 5vh;
    }
}
@keyframes oreja {
    0% {
        transform: rotateX(0deg);
        top: 0vh;
    }
    20% {
        transform: rotateX(50deg);
        top: 28.5vh;
    }
    50% {
        transform: rotateX(0deg);
        top: 28.5vh;
    } 
    70% {
        transform: rotateX(50deg);
        top: 0vh;
    }
    100% {
        transform: rotateX(0deg);
        top: 0vh;
    }
}
@keyframes filtro {
    0% {
        transform: rotateX(180deg);
        bottom: 1.16vh;
    }
    20% {
        transform: rotateX(0deg);
        bottom: 26.9vh;
    }
    50% {
        transform: rotateX(0deg);
        bottom: 26.9vh;
    } 
    70% {
        transform: rotateX(180deg);
        bottom: 1.16vh;
    }
    100% {
        transform: rotateX(180deg);
        bottom: 1.16vh;
    }
}
@keyframes osico {
    0% {
        transform: rotateX(0deg);
        top: 7vh;
    }
    20% {
        transform: rotateX(180deg);
        top: 0vh;
    }
    50% {
        transform: rotateX(180deg);
        top: 0vh;
    } 
    70% {
        transform: rotateX(0deg);
        top: 7vh;
    }
    100% {
        transform: rotateX(0deg);
        top: 7vh;
    }
}
@keyframes osico-bottom {
    0% {
        transform: rotateX(0deg);
        top: 6vh;
    }
    20% {
        transform: rotateX(180deg);
        top: -14vh;
    }
    50% {
        transform: rotateX(180deg);
        top: -14vh;
    } 
    70% {
        transform: rotateX(0deg);
        top: 6vh;
    }
    100% {
        transform: rotateX(0deg);
        top: 6vh;
    }
}

/* Roots */
:root {
    --amarillo: #c19c38;
    --amarilloFondo: #e5b222;
}

/* Focus */
:focus {
    outline: none;
}

/* Animaciones */
.animation-zoom-in {
    animation: zoomIn 35s ease-in-out 1 alternate;
    animation-fill-mode: forwards;
}

/* Actives */
.active-border:active {
    border: 5px solid var(--amarillo);
}

/* Focus */
.focus-border:focus {
    border: 5px solid var(--amarillo);
}

/* Hovers */
.hover-pointer:hover {
    cursor: pointer;
}
.hover-border:hover {
    border: 5px solid var(--amarillo);
}
.hover-border {
    transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.hover-amarillo:hover {
    color: var(--amarillo)!important;
}
.hover-amarillo {
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}
.hover-bg-transparent:hover {
    background: transparent;
}

/* Cursors */
.cursor-progress {
    cursor: progress;
}

/* Transitions */
.transition-cubic {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s, transform .5s  ease-in;
    transform-origin: center top;
    perspective-origin: center top;
}
.transition-cubic:not(.show) {
    transform: perspective(100vh) rotateX(90deg);
    -webkit-transform: perspective(100vh) rotateX(90deg);
}
.show {
    transform: perspective(50vh) rotateX(0deg);
    -webkit-transform: perspective(50vh) rotateX(0deg);
}

/* Width */
.w-5 {
    width: 4%;
}
.w-15 {
    width: 15%;
}
.w-35 {
    width: 35%;
}

/* Height */
.h-3{
    height: 3vh;
}
.h-10{
    height: 9vh;
}
.h-20 {
    height: 20vh;
}
.h-30{
    height: 30vh;
}
.h-60 {
    height: 60vh;
}
.h-65 {
    height: 65vh;
}
.h-80 {
    height: 80vh;
}
.h-91{
    height: 91vh;
}
.h-100v {
    height: 100vh;
}

/* Max Height */
.mxh-25 {
    max-height: 25vh;
}
.mxh-58 {
    max-height: 58vh;
}

/* Max-Min Height */
.mh-16 {
    max-height: 16vh !important;
    min-height: 16vh !important;
}
.mh-19 {
    max-height: 19vh !important;
    min-height: 19vh !important;
}
.mh-60 {
    max-height: 60vh;
    min-height: 60vh;
}
.mh-65 {
    max-height: 65vh;
    min-height: 65vh;
}
.mh-91{
    max-height: 91vh;
    min-height: 91vh;
}

/* Paddings */
.p-0{
    padding: 0;
}
.pl-0{
    padding-left: 0;
}
.pb-6{
    padding-bottom: 6vh!important;
}
.pb-7{
    padding-bottom: 7vh;
}
.pb-8 {
    padding-bottom: 8vh!important;
}
.pb-10 {
    padding-bottom: 10vh!important;
}
.pt-6{
    padding-top: 6vh;
}
.pt-10 {
    padding-top: 10vh!important;
}
.pt-15 {
    padding-top: 15vh!important;
}
.pt-20{
    padding: 20vh;
}
.pt-25{
    padding: 25vh;
}
.plr-1 {
    padding-left: 1vh;
    padding-right: 1vh;
}
.plr-5 {
    padding-left: 5vh;
    padding-right: 5vh;
}
.plr-25 {
    padding-left: 25vh;
    padding-right: 25vh;
}
.ptb_5 {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

/* Margins */
.mt-6{
    margin-top: 6vh;
}
.mt-10{
    margin-top: 10vh;
}
.mt-20{
    margin-top: 20vh;
}
.ml-0{
    margin-left: 0;
}
.mlr-25 {
    margin: 0 25vh;
}

/* Font size */
.fs_6{
    font-size: 0.6vw;
}
.fs_8{
    font-size: 0.8vw;
}
.fs-1{
    font-size: 1vw;
}
.fs-1_3{
    font-size: 1.3vw;
}
.fs-1_5{
    font-size: 1.5vw;
}
.fs-2{
    font-size: 2vw;
}
.fs-3{
    font-size: 3vw;
}
.fs-4{
    font-size: 4vw;
}
.fs-6{
    font-size: 6vw;
}

/* Font family */
.ff-kanit{
    font-family: 'Kanit', sans-serif;
}
.ff-chunkfive{
    font-family: 'Chunkfive', sans-serif;
}
.ff-espacio{
    font-family: 'Espacio', sans-serif;
}
.ff-lazer{
    font-family: 'Lazer84', sans-serif;
}

/* Font color */
.text-input{
    color: #949494;
}
.text-black {
    color: black;
}
.text-transparent {
    color: transparent;
}

/* Roundeds */
.rounded-1{
    border-radius: 1vh;
}
.rounded-4{
    border-radius: 4vh;
}
.rounded-left-1{
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
}
.rounded-left-4{
    border-bottom-left-radius: 4vh;
    border-top-left-radius: 4vh;
}

/* Background */
.bg-input{
    background: #c4c4c4;
}
.bg-transparent{
    background: transparent;
}
.bg-black {
    background-color: black;
}
.bg-yellow {
    background-color: var(--amarilloFondo);
}
/* a */
.bg-texture-black{
    background: url(./assets/img/textura.png), rgba(0, 0, 0, 0.89);
    background-size: 100%, 0;
}    
.bg-texture-white{
    background: url(/assets/img/textura-blanca.png), rgba(255, 255, 255, 1);
    background-size: 100%, 0;
}
.bg-amarillo {
    background-color: var(--amarillo);
}

/* Border colors */
.border-transparent{
    border-color: transparent;
}
.border-yellow{
    border-color: var(--amarillo)!important;
}
.border-black{
    border-color: black!important;
}

/* Boder width */
.border_4{
    border-width: .4vh!important;
}

/* Overflow */
.oy-hidden{
    overflow-y: hidden;
}
.ox-scroll {
    overflow-x: scroll;
}
.ox-hidden{
    overflow-x: hidden;
}
.oy-scroll {
    overflow-y: scroll;
}

/* Wrap */
.nowrap{
    flex-wrap: nowrap;
}

/* Opacity */
.o-3 {
    opacity: .3;
}
.o-5 {
    opacity: .5;
}

/* Overtext */
.top-right {
    position: absolute;
    top: 1vh;
    right: 2vw;
}

/* Customs */
.row-form-compra{
    max-height: 60vh;
    overflow-y: hidden;
}
.row-div-compra{
    max-height: 65vh;
    overflow-y: hidden;
}
html, body{
    height: 100vh;
    margin: 0;
}
.scroll-downs {
    position: absolute;
    top: 66vh;
    right: 0;
    bottom: 0vh;
    left: 0;
    margin: auto;
    width :0vh;
    height: 0vh;
}
.mousey {
    width: 0vh;
    padding: 1.5vh;
    height: 2vh;
    border: 2px solid #fff;
    border-radius: 2vh;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: .7vh;
    height: .7vh;
    border-radius: 2vh;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
#loadOso{
    animation: osoLoad 1s linear infinite alternate;
}
#progressReset{
    width: 100%;
    background-color: transparent;
}
#barReset {
    width: 1%;
    height: 20px;
    background-color: #EFB810;
    animation: barLoad 5s ease-in-out 1 alternate;
    animation-fill-mode: forwards;
}
.active-check {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.active-border:active .active-check:last-child {
    display: block;
}
.focus-border:focus .active-check:last-child {
    display: block;
}
.cabeza {
    background: url(texture.png), #6F5000;
    height: 35vh;
    width: 9.5vw;
    border-right: 0vw solid transparent;
    border-radius: 12vw 0vw 0vw 12vw;
    z-index: 1000;
    animation: cabeza 3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s infinite normal;
}
.ojo {
    height: 4vh;
    width: 2vw;
    background: black;
    position: relative;
    left: 6vw;
    top: 3vh;
    animation: ojo 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s infinite normal;
}
.osico-top {
    background: url(texture.png), #6F5000;
    border-radius: 2vh;
    width: 4vw;
    height: 8vh;
    position: relative;
    left: 9vw;
    top: 7vh;
    animation: osico 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s infinite normal;
}
.nariz {
    background: black;
    width: 1.5vw;
    height: 2vh;
    position: relative;
    left: 3.2vw;
    bottom: 1vh;
}
.osico-bottom {
    background: url(texture.png), #7F6950;
    border-radius: 0vh 0vw 4vw 0;
    width: 4vw;
    height: 8vh;
    position: relative;
    left: 8vw;
    top: 6vh;
    z-index: -100;
    animation: osico-bottom 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s infinite normal;
}
.oreja {
    background: url(texture.png), #6F5000;
    height: 7vh;
    width: 3.5vw;
    animation: oreja 3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s infinite normal;
    position: relative;
}
.oreja-interno {
    background: black;
    height: 4vh;
    width: 2vw;
    position: relative;
    top: 1.2vh;
    left: .8vw;
}
.filtro {
    background: rgb(255, 255, 255);
    height: 17vh;
    width: 18vw;
    border-right: 0vw solid transparent;
    border-radius: 12vw 12vw 0vw 0vw;
}
.filtro-exterior {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 9.1vh;
    width: 9.4vw;
    z-index: -1000;
    position: relative;
    bottom: 1.16vh;
    opacity: .07;
    left: 0.2vh;
    transform: rotateZ(180deg);
    transform: rotateX(180deg);
    animation: filtro 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s infinite normal;
}