<div *ngIf="!cargo" class="text-center img-fluid h-100">
    <img src="../../../assets/img/oso.png" id="loadOso" class="mt-20">
</div>
<div *ngIf="cargo">
  <h3 class="text-center ff-lazer text-white mt-3">DISEÑO</h3>
  <div class="row row-form-compra pl-5 w-75 mx-auto mt-3 mb-2">
    <div class="col-sm-12">
      <img
        src="http://pruebasbrageanth.pythonanywhere.com{{estampadoActive.imagenPrenda}}"
        class="form-check-label img-fluid w-100"
      >
    </div>
  </div>
  <div class="row pl-5 w-75 row-form-compra mx-auto nowrap mh-19">
    <div 
      class="col-2 active-border focus-border p-0 ml-3 mr-3 mt-2 mb-2 hover-pointer hover-border" 
      *ngFor="let estampado of estampadoList; let i = index"
      tabindex="{{i}}"
    >
      <img
        src="http://pruebasbrageanth.pythonanywhere.com{{estampado.imagenEstampado}}"
        class="form-check-label img-fluid w-100 mh-16"
        (click)="activeSlide(estampado)"
      >
      <i class="fas fa-check text-white bg-amarillo pl-1 pb-1 active-check"></i>
    </div>
    <div class="scroll-downs">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="ff-kanit bg-transparent font-weight-bold border-transparent text-white fs-2 hover-pointer" (click)="guardarEstampado()">
      Siguiente
    </button>
  </div>
</div>